.home-wrapper {
    width: 80%;
    margin: 25px auto;
    display: flex;
    align-items: center;
}

.home-wrapper .jumbo-image {
    width: 500px;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    text-align: left;
}

.home-text .brand {
    font-weight: 600;
    font-style: italic;
}

.home-wrapper p {
    font-size: 1.6rem;
    margin: 8px 0;
    width: 100%;
}

.home-wrapper .cta-btn {
    font-size: 1.6rem;
    background-color: #d2232a;
    color: #fff;
    border: 1px solid  #d2232a;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 1000px){
    .home-wrapper {
        flex-direction: column;
    }
    .home-text {
        padding-left: 0;
    }
    .home-wrapper h1 {
        text-align: center;
    }
    .home-text p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 800px){
    .home-wrapper .jumbo-image {
        width: 400px;
    }
    
}

@media screen and (max-width: 500px){
    .home-wrapper .jumbo-image {
        width: 300px;
    }  
}

